{
  "presets": [
    ["@babel/preset-env", {"targets": {"browsers": "last 1 Chrome versions"}}],
    ["@babel/preset-typescript"]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties"]
  ]
}
